[Desktop Entry]
Type=Application
Name=QRegEdit
Exec=qregedit
Icon=qregedit
GenericName=QRegEdit Windows Registry Editor
Terminal=false
Categories=Settings;HardwareSettings;
